replicaCount: 1

fullnameOverride: ${APP_NAME}

image:
  repository: ${ECR_REGISTRY}/${ECR_REPOSITORY} # Reemplaza con tu imagen de Docker
  pullPolicy: Always
  tag: ${IMAGE_TAG} # Reemplaza con el tag de tu imagen

secrets:
  # Agrega aquí tus secretos en formato clave: valor
  DATABASE_URL: ${DATABASE_URL}

app:
  port: 3000
  envs:
    PUBLIC_BASE_URL: "${PUBLIC_BASE_URL}"
    ALLOWED_ORIGINS: "${ALLOWED_ORIGINS}"
    AUTH_N_ENABLED: "${AUTH_N_ENABLED}"
    FAKE_ROLE: "${FAKE_ROLE}"
    FAKE_USER_ID: "${FAKE_USER_ID}"
    FAKE_COMPANY_ID: "${FAKE_COMPANY_ID}"
    KEYCLOAK_ISSUER: "${KEYCLOAK_ISSUER}"
    KEYCLOAK_AUDIENCE: "${KEYCLOAK_AUDIENCE}"
    PORT: 3000


resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

service:
  type: ClusterIP
  port: 3000
  # Puerto donde tu aplicación expone las métricas de Prometheus
  # metricsPort: 9113

persistence:
  enabled: true
  storageClass: "pod-storage" # Reemplaza con tu StorageClass, previamente creado en EKS
  existingClaim: ""
  accessMode: ReadWriteOnce
  volumeMode: Filesystem
  size: 1Gi

# Configuración del Ingress (ALB)
ingress:
  enabled: true
  # Reemplaza con el hostname deseado
  hostname: ${HOST_NAME}
  # Anotaciones clave para el AWS Load Balancer Controller
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    # Al usar group.name, los tags deben de ser iguales.
    alb.ingress.kubernetes.io/tags: Application=isbe-apps
    # Opcional: Para usar un certificado ACM existente
    # alb.ingress.kubernetes.io/certificate-arn: ${ARN_CERT}
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
    alb.ingress.kubernetes.io/actions.ssl-redirect: '{"Type": "redirect", "RedirectConfig": { "Protocol": "HTTPS", "Port": "443", "StatusCode": "HTTP_301"}}'
    #alb.ingress.kubernetes.io/ssl-policy: ELBSecurityPolicy-TLS13-1-2-Res-2021-06
    # Al usar group.name, todas las reglas con el mismo nombre de grupo se agrupan en un solo ALB
    alb.ingress.kubernetes.io/group.name: isbe-apps

# Integraciones de la plataforma
observability:
  enabled: true # Activa la creación del ServiceMonitor y PrometheusRule
  dashboard:
    enabled: false # Activa la creación del Dashboard de Grafana
